body
{
    font-family: "Times New Roman", Times, serif;
    margin: 0;
    padding: 0 12px;

}

#finki
{

    display: inline-block;
    float: left;
    padding-top: 10px;
    cursor: pointer;
}
.nav
{
    font-weight: bold;
    font-size: 16px;
    display: inline-block;
    vertical-align: center;
    float: right;
    margin: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: gray;
    text-transform: uppercase;
}
.nav:hover
{
    color: limegreen;
}

.loremsize
{
    font-size: 40px;
}

.loremsize2
{
    font-size: 32px;
}

footer p
{
  display: inline-block;
    float: left;
    padding: 16px 70px;
}
.contact-text
{
    margin-left: 50px;
    display: inline-block;
    color: black;
    max-width: 55%;
    float: left;
    text-align: justify;
}
.map-text
{
    float: right;
    font-size: 15px;
    padding-top: 50px;
    padding-right: 100px;
    font-weight: bold;
    display: inline-block;
    line-height: 2px;
}