body {
    width: 800px;
    height: 600px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.leaf
{
    position: absolute;
    top: 10px;
}

.navigation{
    height: 30px;
    padding: 4px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: linear-gradient(to bottom,#92CD00,#6c9616);
}

.menu
{
    margin-left: 120px;
    color: #ffffff;
    justify-content: center;
}
.menu a{
    margin: 0;
    font-size: 18px;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    text-align: center;
    text-decoration: none;
    line-height: 35px;

}
.menu a:hover {
    background-color: yellowgreen;
    color: white;
}


footer
{
    height: 30px;
    color: #ffffff;
    background-color:  #81b518;
    text-align: center;
    line-height: 30px;
}
